<style lang="scss" scoped>
table {
    position: absolute;
    border: 2px outset lightgrey;
    background: lightgrey;
}
td {
    font-size: 20px;
    text-align: center;
    border: 1px inset grey;
    width: 20px;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: 1px black;
}
</style>

<template>
    <div>
        <table cellspacing="3" :style="style">
            <tr>
                <td :style="{'background-color': bg(num)}" v-for="num in top">{{num}}</td>
            </tr>
            <tr>
                <td :style="{'background-color': bg(num)}"  v-for="num in bottom">{{num}}</td>
            </tr>
        </table>
    </div>
</template>

<script>
import EventBus from "../eventBus";

export default {
    data() {
        return {
            top: [0, 1, 2, 3, 4, 5, 6, 7],
            bottom: [8, 9, 10, 11, 12, 13, 14, 15],
            inputNumberBox: {
                display: "none",
                top: "0px",
                left: "0px"
            },
            colors: {
                0: "white",
                1: "black",
                2: "navy",
                3: "green",
                4: "red",
                5: "maroon",
                6: "purple",
                7: "orange",
                8: "yellow",
                9: "lime",
                10: "teal",
                11: "cyan",
                12: "blue",
                13: "magenta",
                14: "grey",
                15: "silver"
            }
        };
    },
    methods: {
        bg(num) {
            var rgb = window
                .getComputedStyle(
                    document.querySelector(`.irccolor.${this.colors[num]}`)
                )
                .color.split("(")[1]
                .split(")")[0]
                .split(",")
                .map(function(a) {
                    return window.parseInt(a.trim(), 10);
                });
            return this.rgbToHex(rgb[0], rgb[1], rgb[2]);
        },
        componentToHex(c) {
            var hex = c.toString(16);
            return hex.length == 1 ? "0" + hex : hex;
        },
        rgbToHex(r, g, b) {
            return (
                "#" +
                this.componentToHex(r) +
                this.componentToHex(g) +
                this.componentToHex(b)
            );
        }
    },
    computed: {
        style() {
            return this.inputNumberBox;
        }
    },
    mounted() {
        EventBus.$on("numberbox-update", data => {
            Object.keys(data).forEach(prop => {
                this.inputNumberBox[prop] = data[prop];
            });
        });
    }
};
</script>
