<style lang="scss">
#disAliases {
    width: 75%;
    height: 300px;
}
</style>

<template>
    <div class="settingsContents settingsContents__daesirccloudsuite settingsContents--show" data-section="daesirccloudsuite">
        <h2 class="settingsTitle settingsTitle--subtitled">Dae's IRCCloud Suite</h2>
        <h3>Aliases</h3>
        <p class="settingsSubtitle">
            <small>You can use <code>$chrcol(&lt;character name&gt;,actionColorNumber,speakingColorNumber, optionalSymbolPairs, $1-)</code> to automatically color quote or symbol pairs. </small>
        </p>
        <h4>Examples:</h4>
        <p class="settingsSubtitle"><small>
        <code>/somename /me &lt;name goes here&gt; $1-</code><br />
        <code>/somename /say &lt;name goes here&gt; $1-</code><br />
        <code>/somename /say $chrcol(&lt;character name&gt;,3,4, $1-)</code><br />
        <code>/somename /say $chrcol(&lt;character name&gt;,3,4, .oO(14{TEXT}}), $1-)</code><br />
        <code>/somename /say $chrcol(&lt;character name&gt;,3,4, &lt;{TEXT}&gt;, $1-)</code></small></p>
        <p class="form">
            <textarea id="disAliases" class="input settings__inputSetting" name="disAliases" @keyup="updateHistory" @keydown="handleInput($event)" @input="save" v-model="aliases" ref="aliases"></textarea>
        </p>
    </div>
</template>

<script>
import $ from "jquery";
import Undoo from "undoo";
import formatting from "../mixins/formatting";
import store from "store";
import EventBus from "../eventBus";

let history = new Undoo();

export default {
    data() {
        return {
            aliases: "",
            counter: 0
        };
    },
    methods: {
        save() {
            store.set("disAliases", this.aliases);
        },
        updateHistory() {
            history.save(this.aliases);
        },
        handleInput(e) {
            if (e.key !== "z" && e.key !== "y" && (e.ctrlKey || e.metaKey)) {
                let that = this;
                var handled = this.handleCharacterInsert(
                    e.key,
                    {
                        isVue: true,
                        obj: that,
                        prop: "aliases",
                        val: that.aliases
                    },
                    this.$refs.aliases
                );
                if (handled) {
                    e.preventDefault();
                    e.stopPropagation();
                    if (e.key === "k") {
                        var top = $(this.$refs.aliases).offset().top,
                            left = $(this.$refs.aliases).offset().left;
                        EventBus.$emit("numberbox-update", {
                            display: "block",
                            top: top - 50 + "px",
                            left: left + "px"
                        });
                    }
                    this.updateHistory();
                    this.save();
                }
            } else if (/^.$/i.test(e.key) && (!e.ctrlKey && !e.metaKey)) {
                this.counter++;
                if (this.counter >= 2) {
                    EventBus.$emit("numberbox-update", { display: "none" });
                    this.counter = 0;
                }
            } else if (
                e.key === "z" &&
                (e.ctrlKey || e.metaKey) &&
                !e.shiftKey
            ) {
                e.preventDefault();
                e.stopPropagation();
                let currentVal = this.aliases;
                history.undo(val => {
                    this.aliases = val;
                    this.save();
                });
                if (/\u0003/i.test(currentVal)) {
                    EventBus.$emit("numberbox-update", { display: "none" });
                }
            } else if (
                ((e.key === "z" && e.shiftKey) || e.key === "y") &&
                (e.ctrlKey || e.metaKey)
            ) {
                e.preventDefault();
                e.stopPropagation();
                history.redo(val => {
                    this.aliases = val;
                    this.save();
                });
            } else if (e.key === "Backspace") {
                var selectionStart = this.$refs.aliases.selectionStart,
                    selectionEnd = this.$refs.aliases.selectionEnd;
                if (selectionStart === selectionEnd) {
                    selectionEnd = selectionStart;
                    selectionStart--;
                }
                var deletedText = this.aliases.slice(
                    selectionStart,
                    selectionEnd
                );
                if (/\u0003|\u0002|\u001d|\u001f/i.test(deletedText)) {
                    EventBus.$emit("numberbox-update", { display: "none" });
                }
            } else if (e.key === "Escape") {
                EventBus.$emit("numberbox-update", { display: "none" });
            }
        }
    },
    mixins: [formatting],
    mounted() {
        this.aliases = store.get("disAliases");
        this.updateHistory();
    }
};
</script>
